@using ZPP_Project.Helpers;
@model ZPP_Project.EntityDataModel.V_Company

<h2>Company details</h2>

@if (Model == null)
{
    ViewBag.Title = "Missing company";
    <div class="container">
        <div class="row">
            This company does not exist.
        </div>
    </div>
}
else
{
    ViewBag.Title = "Company - " + Model.Name;
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @CompanyHelper.Display(Model)
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <!-- Company -->
                <div class="row">@Model.Address</div>
            </div>
            <div class="col-md-4">
                <!-- Website -->
                <div class="row"><a href="@Model.Website" target="_blank">Website</a></div>
            </div>
            <div class="col-md-4">
                <!-- Email -->
                <div class="row"><a href="mailto:@Model.EmailCompany">Contact</a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Raw(Model.Description)
            </div>
        </div>
        <div class="row">
            @Html.ActionLink("Courses details", "CoursesDetails", "Report", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Courses attendance", "CoursesAttendance", "Report", null, new { @class = "btn btn-default" })
        </div>
    </div>
}
