@using PagedList.Mvc;
@model  PagedList.IPagedList<ZPP_Project.EntityDataModel.V_Company>

@{
    ViewBag.Title = "Companies";
}

<h2>@ViewBag.Title</h2>

@if (ZPP_Project.Helpers.ZPPUserRoleHelper.IsUserInRole(ZPP_Project.Helpers.Roles.ADMINISTRATOR))
{
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
}

<div class="container">
    <div>
        @foreach (var item in Model)
        {
            @Html.Partial("CompanyDisplay", item)
        }
    </div>
    <div class="row">
        <p>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
    </div>
</div>
