@using PagedList.Mvc;
@using ZPP_Project.Helpers;
@model  PagedList.IPagedList<ZPP_Project.EntityDataModel.V_Teacher>

@{
    ViewBag.Title = "Teachers";
}

<h2>@ViewBag.Title</h2>

@if (ZPPUserRoleHelper.IsAdministrator(ViewBag.UserRoleId) || ZPPUserRoleHelper.IsCompany(ViewBag.UserRoleId))
{
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
}

<div class="container">
    <div>
        @foreach (var item in Model)
        {
            @Html.Partial("TeacherDisplay", item)
        }
    </div>
    <div class="row">
        <p>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
    </div>
</div>

@*
    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
*@
