@using ZPP_Project.Helpers
@model ZPP_Project.EntityDataModel.V_Teacher

@{ string blockName = "TeacherDisplay_" + Model.IdTeacher; }
<div class="row">
    <div class="row">
        @HtmlHelperZpp.RenderColapseIcon(blockName)
        @Html.ActionLink(TeacherHelper.Display(Model), "Details", new { id = Model.IdTeacher })
    </div>
    <div id="@blockName" class="row collapse" style="margin-left:-5px">
        <div class="col-md-4">
            <!-- Company -->
            <div class="row">Employed by</div>
            <div class="row">@Html.ActionLink(CompanyHelper.Display(Model.IdCompany), "Details", "Company", new { id = Model.IdCompany }, null)</div>
        </div>
        <div class="col-md-4">
            <!-- Website -->
            <div class="row"><a href="@Model.Website" target="_blank">Website</a></div>
        </div>
        <div class="col-md-4">
            <!-- Email -->
            <div class="row"></div>
            <div class="row"><a href="mailto:@Model.Email">Contact</a></div>
        </div>
    </div>
</div>