@model ZPP_Project.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (!ZPP_Project.Helpers.ZPPUserRoleHelper.IsAdministrator(Model.UserType))
        {
            if (ZPP_Project.Helpers.ZPPUserRoleHelper.IsTeacher(Model.UserType))
            {
                <dt>
                    Company:
                </dt>

                <dd>
                    @Html.ActionLink(ZPP_Project.Helpers.CompanyHelper.Display(Model.IdCompany), "Details", "Company", new { id = Model.IdCompany }, null)
                </dd>
            
                <dt>
                    @Html.DisplayNameFor(model => model.Degree):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Degree)
                </dd>
            }

            if(ZPP_Project.Helpers.ZPPUserRoleHelper.IsTeacher(Model.UserType)
                || ZPP_Project.Helpers.ZPPUserRoleHelper.IsStudent(Model.UserType))
            { 
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>
            }
            else if(ZPP_Project.Helpers.ZPPUserRoleHelper.IsCompany(Model.UserType))
            { 
                <dt>
                    @Html.DisplayNameFor(model => model.Name):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
            }
            
            <dt>
                @Html.DisplayNameFor(model => model.Address):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            if(ZPP_Project.Helpers.ZPPUserRoleHelper.IsCompany(Model.UserType))
            { 
                <dt>
                    @Html.DisplayNameFor(model => model.Email):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
            }

            if(ZPP_Project.Helpers.ZPPUserRoleHelper.IsTeacher(Model.UserType)
                || ZPP_Project.Helpers.ZPPUserRoleHelper.IsCompany(Model.UserType))
            { 
                <dt>
                    @Html.DisplayNameFor(model => model.Website):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Website)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description):
                </dt>

                <dd>
                    @Html.Raw(Model.Description)
                </dd>
            }

            <dt></dt>
            <dd>
                @if (ZPP_Project.Helpers.ZPPUserRoleHelper.IsCompany(Model.UserType))
                {
                    @Html.ActionLink("Edit company details", "CompanyDetails", null, new { @class = "btn btn-default" });
                }
                else
                {
                    @Html.ActionLink("Edit personal details", "PersonalDetails", null, new { @class = "btn btn-default" });
                }
            </dd>
        }
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn btn-default" })
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword", null, new { @class = "btn btn-default" })
            }
        </dd>
        @*<dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>*@
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@
        @*  
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
                ]
            </dd>
        *@
        @*<dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>
            @if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }
        </dd>*@
        @if (!ZPP_Project.Helpers.ZPPUserRoleHelper.IsAdministrator(Model.UserType))
        {
            string href = String.Empty;
            switch (Model.UserType)
            {
                case ZPP_Project.Helpers.Roles.STUDENT_NR:
                    href = "/Course/Student/";
                    break;
                case ZPP_Project.Helpers.Roles.TEACHER_NR:
                    href = "/Course/Teacher/";
                    break;
                case ZPP_Project.Helpers.Roles.COMPANY_NR:
                    href = "/Courses/My";
                    break;
            }
            <dt>My Courses:</dt>
            <dd>
                <p><a class="btn btn-default" href="@href">Courses</a></p>
            </dd>
        }
    </dl>
</div>
