@using ZPP_Project.Helpers
@using ZPP_Project.Models
@using ZPP_Project.Helpers
@model ZPP_Project.Models.LectureAttendanceItemEditViewModel

@{
    string blockName = "AttendanceDisplay_" + Model.IdLecture;
}

<div class="row">
    <div class="row">
        @ZPPHtmlHelper.RenderColapseIcon(blockName)
        @(Model.LecuteDate.HasValue ? Model.LecuteDate.Value.ToString("yyyy-MM-dd") : ProgramData.VALUE_UNKNOWN)
    </div>
    <div id="@blockName" class="collapse" style="margin-left:-5px">

        <div class="form-horizontal">
            <div class="form-group">
                @*@Html.LabelFor(model => model.IdLecture, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.IdLecture, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                <div class="row">
                    <div class="col-md-4">
                        @Model.Items[i].StudentName
                    </div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.Items[i].Attended, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(model => model.Items[i].IdStudent, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            }
            <hr />
        </div>

    </div>
</div>