@using ZPP_Project.Helpers
@model ZPP_Project.Models.DisplayUserViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserType)
        </dt>
        <dd>
            <div class="col-md-1">
            </div>
            <div class="col-md-3">
                @ZPPUserRoleHelper.GetUserRoleName(Model.UserType)
            </div>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            <div class="col-md-1">
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.UserName)
            </div>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            <div class="col-md-1">
                @Html.DisplayFor(model => model.EmailConfirmed)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.Email)
            </div>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            <div class="col-md-1">
                @Html.DisplayFor(model => model.PhoneNumberConfirmed)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.PhoneNumber)
            </div>
        </dd>
        <dt>
            @*@Html.DisplayFor(model => model.LockoutEndDateUtc)*@
            Lockout
        </dt>
        <dd>
            <div class="col-md-1">
                @Html.DisplayFor(model => model.LockoutEnabled)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.LockoutEndDateUtc)
            </div>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </dt>
        <dd>
            <div class="col-md-1">
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.AccessFailedCount)
            </div>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Banned)
        </dt>
        <dd>
            <div class="col-md-1">
                @Html.DisplayFor(model => model.Banned)
            </div>
            <div class="col-md-3">
            </div>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </dt>
        <dd>
            <div class="col-md-1">
                @Html.DisplayFor(model => model.TwoFactorEnabled)
            </div>
            <div class="col-md-3">
            </div>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }, new { @class = "btn btn-default" })
</p>
