@using PagedList.Mvc;
@model  PagedList.IPagedList<ZPP_Project.Models.DisplayUserViewModel>

@{
    ViewBag.Title = "Users";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
    @if(ViewBag.ButtonMap[0]){ @Html.ActionLink("Companies", "ShowCompanies", new { page = (int?)null, pageSize = (int?)null }, new { @class = "btn btn-default" }) }
    @if(ViewBag.ButtonMap[1]){ @Html.ActionLink("Teachers", "ShowTeachers", new { page = (int?)null, pageSize = (int?)null }, new { @class = "btn btn-default" }) }
    @if(ViewBag.ButtonMap[2]){ @Html.ActionLink("Students", "ShowStudents", new { page = (int?)null, pageSize = (int?)null }, new { @class = "btn btn-default" }) }
    @if(ViewBag.ButtonMap[3]){ @Html.ActionLink("All", "Index", new { page = (int?)null, pageSize = (int?)null }, new { @class = "btn btn-default" }) }
</p>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model[0].UserName)
        </div>
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model[0].Email)
        </div>
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model[0].EmailConfirmed)
        </div>
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model[0].PhoneNumberConfirmed)
        </div>
        <div class="col-md-1">
            @Html.DisplayNameFor(model => model[0].Banned)
        </div>
        <div class="col-md-1">
            Locked
        </div>
    </div>

    <div>
        @foreach (var item in Model)
        {
            @Html.Partial("UserDisplay", item)
        }
    </div>
    <div class="row">
        <p>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>
        @Html.PagedListPager(Model, page => Url.Action(ViewBag.PagedListPagerAction, new { page, pageSize = Model.PageSize }))
    </div>
</div>
