@model ZPP_Project.Models.DisplayUserViewModel
@using ZPP_Project.Helpers

@{ string blockName = "UserDisplay_" + Model.UserId; }
<div class="row">
    <div class="row" style="margin-left:-5px">
        <div style="float: left">
            @HtmlHelperZpp.RenderColapseIcon(blockName)
        </div>
        <div class="col-md-2">
            @Html.ActionLink(Model.UserName, "Details", "User", new { id = Model.UserId }, null)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(model => model.Email)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(model => model.EmailConfirmed)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </div>
        <div class="col-md-1">
            @Html.DisplayFor(model => model.Banned)
        </div>
        <div class="col-md-1">
            @Html.CheckBox("Locked", Model.LockoutEndDateUtc != null && Model.LockoutEndDateUtc > DateTime.UtcNow, new { disabled = "disabled" })
        </div>
    </div>
    <div id="@blockName" class="row collapse" style="margin-left:0px">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-2">
                    @Html.DisplayNameFor(model => model.UserType):
                </div>
                <div class="col-md-3">
                    @ZPPUserRoleHelper.GetUserRoleName(Model.UserType)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.DisplayNameFor(model => model.PhoneNumber):
                </div>
                <div class="col-md-1">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.DisplayNameFor(model => model.LockoutEnabled):
                </div>
                <div class="col-md-1">
                    @Html.DisplayFor(model => model.LockoutEnabled)
                </div>
            </div>
            @if (Model.LockoutEndDateUtc != null)
            { 
                <div class="row">
                    <div class="col-md-2">
                        @Html.DisplayNameFor(model => model.LockoutEndDateUtc):
                    </div>
                    <div class="col-md-3">
                        @Html.DisplayFor(model => model.LockoutEndDateUtc)
                    </div>
                </div>
            }
        </div>
        <div class="col-md-1">
            @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
            @Html.ActionLink("Details", "Details", new { id = Model.UserId }) |
            @if (Model.Banned)
            {
                @Html.ActionLink("Unlock", "Unlock", new { id = Model.UserId })
            }
            else
            {
                @Html.ActionLink("Block", "Block", new { id = Model.UserId })
            }
        </div>
    </div>
</div>
