@using ZPP_Project.Helpers
@model  ZPP_Project.EntityDataModel.V_Course
<div class="row">


    <div class="col-md-12">
        <div>
            <!-- TODO show/collapse icon here -->
        </div>
        @Model.Name<!-- TODO link to course details -->
    </div>
    <div class="col-md-4">
        <!-- Who -->
        <div class="row">Offered by</div>
        <div class="row">@Html.ActionLink(TeacherHelper.Display(Model.IdTeacher), "Details", "Teacher", new { id=Model.IdTeacher }, null)</div>
        <div class="row">@CompanyHelper.Display(@Model.IdCompany)<!-- TODO link to  company--></div>
    </div>
    <div class="col-md-4">
        <!-- When -->
        <div class="row">Duration</div>
        <div class="row">From @Model.DateStart.Value.Date</div>
        <div class="row">To @Model.DateEnd.Value.Date</div>
    </div>
    <div class="col-md-4">
        <!-- How many lectures -->
        <div class="row">Lectures</div>
        <div class="row">@Model.Lectures</div>
    </div>

</div>
