@using ZPP_Project.Helpers;
@model ZPP_Project.EntityDataModel.V_Course
@using ZPP_Project.Models

<h2>Course details</h2>

@if (Model == null)
{
    ViewBag.Title = "Missing course";
    <div class="container">
        <div class="row">
            This course does not exist.
        </div>
    </div>
}
else
{
    ViewBag.Title = "Course - " + Model.Name;
    V_CourseExtended ExtendedModel = Model as V_CourseExtended;
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @Model.Name
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <!-- Who -->
                <div class="row">Offered by</div>
                <div class="row">@Html.ActionLink(TeacherHelper.Display(Model.IdTeacher), "Details", "Teacher", new { id = Model.IdTeacher }, null)</div>
                <div class="row">@Html.ActionLink(CompanyHelper.Display(Model.IdCompany), "Details", "Company", new { id = Model.IdCompany }, null)</div>
            </div>
            <div class="col-md-4">
                <!-- When -->
                <div class="row">Duration</div>
                <div class="row">From @Model.DateStart.Value.Date.ToShortDateString()</div>
                <div class="row">To @Model.DateEnd.Value.Date.ToShortDateString()</div>
            </div>
            <div class="col-md-4">
                <!-- How many lectures -->
                <div class="row">Lectures</div>
                <div class="row">@Model.Lectures</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Model.Description
            </div>
        </div>

        <div>
            @if (ViewBag.UserRoleId == ZPP_Project.Helpers.Roles.STUDENT_NR)
            {
                if (ExtendedModel != null && ExtendedModel.IsMember)
                {
                    //State == 1 - Created should not be visible!
                    if (Model.State == 2)//Opened
                    {
                        <div class="col-md-2">
                            <p><a class="btn btn-default" href="/Course/SignOut/@Model.IdCourse">Sign out</a></p>
                        </div>
                    }
                    else//3 - started or 4 - finished
                    {
                        <div class="col-md-2">
                            @*Leave empty space here, sign in/out would be present here*@
                        </div>
                        <div class="col-md-2">
                            <!-- Grade info -->
                            <div class="row">@(Utils.GetDisplayName<V_CourseExtended>("Grade"))</div>
                            <div class="row">@(ExtendedModel.Grade.HasValue ? ExtendedModel.Grade.Value.ToString("#.#") : String.Empty)</div>
                        </div>
                        <div class="col-md-2">
                            <p><a class="btn btn-default" href="/Course/Attendance/@ExtendedModel.IdCourse">Attendancy</a></p>
                        </div>
                    }
                }
                else
                {
                    <div class="col-md-2">
                        <p><a class="btn btn-default" href="/Course/SignUp/@Model.IdCourse">Sign up!</a></p>
                    </div>
                }
            }
        </div>

    </div>
}