@model ZPP_Project.Models.CourseSignViewModel


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        
    <div class="form-horizontal">
        <h4>@ViewBag.Header</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IdStudent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.IdStudent, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })*@
                @Html.HiddenFor(model => model.IdStudent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.DisplayFor(model => model.IdStudent, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    
        <div class="form-group">
            @Html.LabelFor(model => model.IdCourse, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.IdCourse, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })*@
                @Html.HiddenFor(model => model.IdCourse, new { htmlAttributes = new { @class = "form-control" } })
                @Html.DisplayFor(model => model.IdCourse, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    
        <div class="form-group">
            @Html.LabelFor(model => model.TeacherFullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.TeacherFullName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.DisplayFor(model => model.TeacherFullName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    
        <div class="form-group">
            @Html.LabelFor(model => model.CompanyFullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.CompanyFullName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.DisplayFor(model => model.CompanyFullName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.Raw(Model.Description)
            </div>
        </div>
    
        <div class="form-group">
            @Html.LabelFor(model => model.Lectures, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Lectures, new { htmlAttributes = new { @class = "form-control" } })
                @Html.DisplayFor(model => model.Lectures, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    
        <div class="form-group">
            @Html.LabelFor(model => model.DateStart, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.DateStart, new { htmlAttributes = new { @class = "form-control" } })
                @Html.DisplayFor(model => model.DateStart, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    
        <div class="form-group">
            @Html.LabelFor(model => model.DateEnd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.DateEnd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.DisplayFor(model => model.DateEnd, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    
        <div class="form-group">
            <div class="col-md-offset-2 col-md-1">
                <input type="submit" value="Accept" class="btn btn-default" />
            </div>
            <div class="col-md-offset-1 col-md-1">
                <input type="button" value="Cancel" class="btn btn-default" onclick="history.back()" />
            </div>
        </div>
    </div>
}