
@using PagedList.Mvc;
@model  PagedList.IPagedList<ZPP_Project.EntityDataModel.V_Course>

@{
    ViewBag.Title = "My courses";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <div>
        @foreach (var item in Model)
        {
            @Html.Partial("CourseDisplay", item)
        }
    </div>
    <div class="row">
        <p>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
    </div>
</div>